{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WorkItEasy</title> 

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   


    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <link rel="stylesheet" href="{% static 'index/style.css'%}">
</head>



<body>
        
    <nav class="navbar  navbar-expand-lg  bg-dark navbar-dark"> 
        
        <a href="{% url 'accounts:mediatorindex' %}" class="navbar-brand">WorkItEasy</a>
         
   

    <div class="navbar-collapse collapse " id="navbarNavDropdown">
    <ul class="navbar-nav navbar-right  "> 
        {% if user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:mediatorindex' %}">index</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:mediatorsrequests' %}">requests</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:mediatorsaccepted' %}">accepts</a></li> 
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:mediatorprofile' %}">profile</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> other pages</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="{% url 'accounts:mediatorsrejected' %}">Rejects</a>
                  <a class="dropdown-item" href="{% url 'accounts:mediatorscompleted' %}">Completed </a>
                  <a class="dropdown-item" href="{% url 'accounts:mediatorscancelled' %}">Cancelled</a>  
                  <a class="dropdown-item" href="{% url 'accounts:mediatorreviews' %}">Reviews</a> 
                  <a class="dropdown-item" href="{% url 'accounts:mediatorhistory' %}">History</a> 
                </div>
              </li> 
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:mediatornotifications' %}" class="notification"><span class="glyphicon glyphicon-bell">notifications</span></a></li>
            <li class="nav-item" style="margin-right: 40px;"><a class="nav-link" href="{% url 'accounts:mediatorlogout' %}">logout</a></li>
           
        {% else %} 
            <li ><a href="{% url 'accounts:mediatorlogin' %}">login</a></li>
        {% endif %}
    </ul></div> 
</nav> 

    <div class="container">
    {% block mediator_block %}

    {% endblock %}
    </div>
   
</body>
</html>