{% extends 'mediatorbase.html' %}
{% block mediator_block %}

<h1>Welcome to Mediator-interface</h1>

<!-- 
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn btn-primary" value="Search">
</form> -->

<strong>below are the requests</strong>
<br>
<br>

<!-- <div class="jumbotron"> -->
    <ol class="list-group">
{% for obj in allobj %}
<li class="list-group-item">
    customer Name:&emsp;{{obj.customer.user.username}} <br> 
    customer_location:&emsp;{{obj.customer.location}} 

    {% if obj.status == 1 %}
    <!-- <div style="float: right;"> -->
    <form style="float: right; margin-right: 16px;" action="{% url 'accounts:rejectcustomer' pk1=obj.customer.pk pk2=obj.mediator.pk %}">
        <input type="submit" value="reject" class="btn btn-warning">
        </form>
    <form style="float: right;margin-right: 16px;" action="{% url 'accounts:acceptcustomermediator' pk1=obj.customer.pk pk2=obj.mediator.pk %}">
    <input type="submit" value="accept" class="btn btn-primary">
    </form>
    <form style="float: right; margin-right: 16px;" action="{% url 'accounts:mediatorchats' pk1=obj.customer.pk pk2=obj.mediator.pk %}">
        <input type="submit" value="chat" class="btn btn-warning">
        </form>
<!-- </div> -->
    {% elif obj.status == 2 %}
    <input style="float: right;" type="submit" value="accepted" class="btn btn-info btn-sm">
    <form style="float: right;margin-right: 16px;" action="{% url 'accounts:completeconnection' pk1=obj.customer.pk pk2=obj.mediator.pk %}">
        <input type="submit" value="complete" class="btn btn-primary btn-sm">
        </form>
     {% elif obj.status == 3 %}
    
    <input style="float: right;" type="submit" value="rejected" class="btn btn-danger btn-sm">
    {% elif obj.status == 4 %}
    
    <input style="float: right;" type="submit" value="completed" class="btn btn-success btn-sm">
    {% elif obj.status == 5 %}
    
    <input style="float: right;" type="submit" value="cancelled" class="btn btn-danger btn-sm">
    {% endif %} <br> <br>
</li>  
{% endfor %}
</ol>
<!-- </div> -->
{% endblock %}